@model StudentModule;

<div class="row">
    <div class="col-lg-8">
        <h3>Students List</h3>
    </div>
    <div class="col-lg-8">
        <a href="@Url.Action("CreateStudent")" class="btn btn-primary">Add new student</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>


                @{
                    if(Model != null && Model.studentsList != null && Model.studentsList.Count > 0)
                    {
                        foreach(var student in Model.studentsList)
                        {
                            <tr>
                                <th scope="row">@student.StudentId</th>
                                <th>@student.FirstName</th>
                                <th>@student.LastName</th>
                                <th>@student.Email</th>
                                <th>
                                    <a class="btn btn-secondary"
                                        asp-action="UpdateStudent" asp-route-studentId="@student.StudentId">
                                        Update
                                    </a>
                                </th>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>